<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.15" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.3.15.1" targetFramework="net45" />
  <package id="DynDns53.CoreLib" version="1.0.10" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" requireReinstallation="true" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
</packages>