<div class="img-rounded alt-div-color1">
  <h3>Update DNS</h3>
  <input type="button" value="Update IP now" ng-click="updateAllDomains()" class="btn-primary" />
  <input type="button" value="{{ this.updating ? 'Stop auto-update' : 'Start auto-update' }}"
         ng-click="toggleAutoUpdate()"
         class="btn-success" ng-class="{'btn-success': (updating == false), 'btn-danger': (updating == true)}" />
  <div ng-controller="TimerController" ng-hide="!updating">
    <br />
    <b>Next update in:
      <!-- <timer interval="1000" countdown="1">{{countdown}}</timer> &nbsp;seconds -->
    </b>
  </div>
</div>
