<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.15" targetFramework="net462" />
  <package id="AWSSDK.Route53" version="3.3.15.1" targetFramework="net462" />
  <package id="DynDns53.CoreLib" version="1.0.12" targetFramework="net461" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net462" />
  <package id="log4net" version="2.0.10" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="Topshelf" version="4.0.3" targetFramework="net462" />
</packages>